# Rust / Cargo
/src-tauri/target/
/src-tauri/binaries/

# Node / Frontend
node_modules/
/ui/node_modules/
/ui/dist/
.eslintcache


# Application Specific
.env
/snippets/

# Operating System Files
Thumbs.db
db.shadow
.DS_Store
*.local

# Dev
lab/
_docs/
scripts/
ui/.agents/